// hacking "gridism.css" a little bit.
.j-workspace {
  // won't use "wrap wider";
  box-sizing: border-box;
  .j-wrap {
    max-width: $max-width-screen;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .j-wrap-80 {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: $max-width-screen * .8;
  }
  .j-wrap-90 {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: $max-width-screen * .9;
  }
  .j-wrap-movil{
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: $max-width-screen * .3;
  }
}
