button, .btn-solid {
  position: relative;
  width: 100%;
  max-width: 320px;
  // height: fit-content;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 13px;
  padding-left: 24px;
  border: none;
  border-radius: 0;
  margin-bottom: $space-2;
  background: linear-gradient(180deg, #004FFF 50%, #337DFF 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $color-inverse;
  cursor: pointer;
  line-height: 1;
  font-weight: 800;
  font-size: 16px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  @media screen and (max-width: 768px){
    max-width: 100%;
  }
  &:hover{
    background-color: $color-primary;
    color: $color-inverse;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 45%);
  }
  &:active,
  &:focus,
  &:visited {
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.15);
  }
  &:active,
  &:focus{
    outline:none;
  }
  // Disable buttons in the interface
  &.muted {
    opacity: .3;
    &:hover {
      cursor:not-allowed;
    }
  }
  //The part of the Button Sizes
  &.sm {
    font-size: 14px;
  }
  &.lg {
    font-size: 24px;
  }
  &.xl {
    font-size: 32px;
  }
  // The part of the Button Colors
  //Primary
  &.bg-color-primary {
    &:hover{
      background-color: darken($color-primary, 10);
    }
  }

}
// Button with outline style
.btn-outline {
  border: 2px solid $color-info;
  color: $color-info;
  background: transparent;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  &:hover{
    background-color: $color-info;
    color: $color-inverse;
    background: linear-gradient(180deg, #004FFF 50%, #337DFF 100%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 45%);
  }
}
// Button with outline style
.btn-inverse {
  border: solid 2px $color-primary;
  color: $color-primary;
  background: $color-inverse;
  max-width: 310px;
  box-shadow: 4px 4px 0px 0px $color-inverse;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 500ms ease-in-out;
  &:hover{
    background-color: $color-primary;
    color: $color-inverse;
    border: solid 2px $color-primary;
    max-width: 304px;
    box-shadow: 0px 0px 0px 8px rgba($color-inverse, .5);
    transform: translate(8px, 0);
  }
  // The part of the Button Colors Outline
  //Primary
  &.bg-color-primary {
    border: solid 2px $color-primary;
    color: $color-primary;
    &:hover,{
      background-color: $color-primary;
      color: $color-inverse;
      border: solid 2px $color-primary;
      color: $color-inverse;
    }
  }
  //Secondary
  &.bg-color-secondary {
    border: solid 2px $color-secondary;
    color: $color-secondary;
    &:hover{
      background-color: $color-secondary;
      color: $color-inverse;
      border: solid 2px $color-secondary;
    }
  }
  //Success
  &.bg-color-success {
    border: solid 2px $color-success;
    color: $color-success;
    &:hover{
      background-color: $color-success;
      color: $color-inverse;
      border: solid 2px $color-success;
    }
  }
  //Informative
  &.bg-color-info {
    border: solid 2px $color-info;
    color: $color-info;
    &:hover{
      background-color: $color-info;
      color: $color-inverse;
      border: solid 2px $color-info;
    }
  }
  //Warning
  &.bg-color-warning {
    border: solid 2px $color-warning;
    color: $color-warning;
    &:hover{
      background-color: $color-warning;
      color: $color-inverse;
      border: solid 2px $color-warning;
    }
  }
  //Danger
  &.bg-color-danger {
    border: solid 2px $color-danger;
    color: $color-danger;
    &:hover{
      background-color: $color-danger;
      color: $color-inverse;
      border: solid 2px $color-danger;
    }
  }
}
// Containers for buttons
.horizontal-btn-group {
  display: flex;
  width: 100%;
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
  button {
    margin-right: $space-2;
    &:last-child {
      margin-right: 0;
    }
  }
}
.group-input-button{
  display: flex;
  flex-direction: column;
  button {
    min-width: 100%;
  }
}
//Ripple efect for button feedback
.ripple{
  overflow:hidden;
}
.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2s;
}
@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
