// Colors
$white: #ffffff;
$black: #000000;
$color-primary: #323232;  .color-primary   { color: $color-primary;   };  .bg-color-primary   { background-color: $color-primary;   }
$color-secondary: #337DFF;  .color-secondary { color: $color-secondary; };  .bg-color-secondary { background-color: $color-secondary; }
$color-inverse:   #FFF;     .color-inverse   { color: $color-inverse;   };  .bg-color-inverse   { background-color: $color-inverse;   }
$color-success:   #4caf50;  .color-success   { color: $color-success;   };  .bg-color-success   { background-color: $color-success;   }
$color-info:      #0085FA;  .color-info      { color: $color-info;      };  .bg-color-info      { background-color: $color-info;      }
$color-warning:   #ff9800;  .color-warning   { color: $color-warning;   };  .bg-color-warning   { background-color: $color-warning;   }
$color-danger:    #f44336;  .color-danger    { color: $color-danger;    };  .bg-color-danger    { background-color: $color-danger;    }

// Grayscale
$gray-base:    lighten(#000, 0%);         .gray-base    { color: $gray-base;    };  .bg-gray-base    { background-color: $gray-base;    }
$gray-darker:  lighten($gray-base, 15%);  .gray-darker  { color: $gray-darker;  };  .bg-gray-darker  { background-color: $gray-darker;  }
$gray-dark:    lighten($gray-base, 35%);  .gray-dark    { color: $gray-dark;    };  .bg-gray-dark    { background-color: $gray-dark;    }
$gray-regular: lighten($gray-base, 50%);  .gray-regular { color: $gray-regular; };  .bg-gray-regular { background-color: $gray-regular; }
$gray-light:   lighten($gray-base, 65%);  .gray-light   { color: $gray-light;   };  .bg-gray-light   { background-color: $gray-light;   }
$gray-lighter: lighten($gray-base, 85%);  .gray-lighter { color: $gray-lighter; };  .bg-gray-lighter { background-color: $gray-lighter; }
$gray-ghost:   lighten($gray-base, 95%);  .gray-ghost   { color: $gray-ghost;   };  .bg-gray-ghost   { background-color: $gray-ghost;   }
$gray-body: #6F6F6F;
$body-bg-color: $white;
$inner-body-bg: $white;

// Vertical space
$space-base: 8px;
$space-2: $space-base * 2; // 16px
$space-3: $space-base * 3; // 24px
$space-4: $space-base * 4; // 32px
$space-5: $space-base * 5; // 40px

// // font family
$font-family-base: 'Space Mono', monospace;
$headings-font-family: 'Open Sans', sans-serif;
$font-size-base: 16px;


// media queries
$tablet: 900px;
$mobile: 600px;
$max-width-screen: 1232px;
